.signInContainer {
  width: 20%;
  background: rgba(168, 208, 230, 0.5);
  margin: 100px auto;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(168, 208, 230, 0.5);
}

.p {
  display: inline-block;
}

.center {
  text-align: center;
}

.signUpNow {
  text-align: center;
}

@media (max-width: 1200px) {
  .p {
    display: block;
  }
}

.signUpA {
  color: rgb(73, 73, 255);
  padding-left: 10px;
}
