.input {
  width: 80%;
  background-color: #ececec;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 12px;
  font-family: "Nunito";
}

.input:focus {
  outline: none;
  border: 1px solid #255;
}
