.button {
  box-sizing: border-box;
  display: inline-block;
  background-color: #ececec;
  color: #f3d250;
  cursor: pointer;
  border-color: #f3d250;
  padding: 12px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: #f3d250;
  color: white;
}

.deleteButton {
  position: relative;
  left: 5%;
  width: 15%;
}
