.star {
  max-width: 70%;
}

.firstStar,
.secondStar,
.thirdStar {
  position: absolute;
  width: 30%;
  top: 0%;
}

.secondStar {
  width: 100%;
  left: 100%;
}
.thirdStar {
  width: 100%;
  left: 100%;
}
